.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.informacion{
    width: 500px;
    height: 600px;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    border-color: purple;
    box-shadow: 0 0 10px 1px purple;
    background-color: white;
}

.aparecer {
    animation: aparecerDerecha2 0.5s ease-out;
}

@keyframes aparecerDerecha2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}